*,::after,::before {
    box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Miscorsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

img{
    vertical-align: middle;
}

h1{
    font-size: 5rem;
    line-height: 95px;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

span{
    font-size: 1.5rem;
}

.fz-1{
    font-size: 1.25rem;
}

.fz-2{
    font-size: 1.5rem;
}

.fw-Semibold{
    font-weight: 650;
}

.fw-Medium{
    font-weight: 450;
}

.fw-Light{
    font-weight: 300;
}

.text-color-primary{
    color: #000;
}

.text-color-secondary{
    color: #FFFFFF;
}

.span-color{
    color: #A00404;
}

.bg-secondary{
    background-color: #415165;
}

/*8 16 24 32 40 48 64 80*/
.mb-1{
    margin-bottom: 0.5rem;
}

.mb-2{
    margin-bottom: 1rem;
}

.mb-3{
    margin-bottom: 1.5rem;
}

.mb-4{
    margin-bottom: 2rem;
}

.mb-5{
    margin-bottom: 2.5rem;
}

.mb-6{
    margin-bottom: 3rem;
}

.mb-7{
    margin-bottom: 4rem;
}

.mb-8{
    margin-bottom: 5rem;
}

.mr-1{
    margin-right: 1.5rem;
}

.ml-1{
    margin-left: 1.5rem;
}

.pt-1{
    padding-top: 1.5rem;
}

.pt-2{
    padding-top: 2.5rem;
}

.pb-1{
    padding-bottom: 0.5rem;
}

.pb-2{
    padding-bottom: 1.5rem;
}

.pb-3{
    padding-bottom: 2.5rem;
}

.pl-1{
    padding-left: 1.5rem;
}

.border-b-1{
    border-bottom: 1px solid #000;
}

.border-b-2{
    border-bottom: 2px solid #000;
}

.border-b-3{
    border-bottom: 1px solid #FFFFFF;
}

.border-l-1{
    border-left: 1px solid #96A9C4;
}

.text-align-left{
    text-align: left;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.container-skills{
    width: 996px;
    margin: 0 auto;
}

span{
    vertical-align: 3px;
    margin-left: 16px;
}

.skills, .footer{
    text-align: center;
}

.skills .container-skills ul{
    display: inline-block;
    width: 225px;
}

.work-content{
    width: 642px;
}
